<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{statusCode}}-{{error}}</title>
    <style>
        h1, h3 {
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>{{statusCode}}</h1>
    <h3>{{error}}</h3>
    <br>
    {{message}}
</body>
</html>


